.sioextended-button {
    display: inline !important;
    padding: 1px 8px !important;
    line-height: 100% !important;
    font-size: 12px !important;
    margin-left: 20px !important;
    margin-right: -20px !important;
}